MONGODB_URI="mongodb://<Mongo-db-user>:<password>@ac-pgeh4kf-shard-00-00.wxb9qxb.mongodb.net:27017,ac-pgeh4kf-shard-00-01.wxb9qxb.mongodb.net:27017,ac-pgeh4kf-shard-00-02.wxb9qxb.mongodb.net:27017/?ssl=true&replicaSet=atlas-ncg8i7-shard-0&authSource=admin&appName=First-Cluster"
PORT=27017

NODE_ENV=development

# APP_URL: The URL where this applet is hosted.
# AI Studio automatically injects this at runtime with the Cloud Run service URL.
# Used for self-referential links, OAuth callbacks, and API endpoints.
WEB_URL="http://localhost"
PORT=3000